<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>
<body>
<header class="header">
  <div class="container">
    <div class="header-left">
      <a href="#" class="logo"><img src="img/logo.jpg" alt="logo" class="logo_image">BRAND</a>
      <form action="#" class="form">
        <select name="browse" id="#" class="select select_search"><option value="Browse"></option></select>
        <input type="text" class="input">
        <button>0</button>
      </form>
    </div>
    <div class="header-right">
      <img src="img/basket_button.svg" alt="basket" class="header-right__button">
      <select name="my_account" id="#" class="select select_account"><option value="My Account"></option></select>
    </div>
  </div>
  </header>
  <nav>
    <div class="container">
      <ul class="menu">
        <li class="menu-list"><a href="#" class="menu-link">Home</a></li>
        <li class="menu-list"><a href="#" class="menu-link">Man</a></li>
        <li class="menu-list"><a href="#" class="menu-link">Women</a></li>
        <li class="menu-list"><a href="#" class="menu-link">Kids</a></li>
        <li class="menu-list"><a href="#" class="menu-link">Accoseriese</a></li>
        <li class="menu-list"><a href="#" class="menu-link">Featured</a></li>
        <li class="menu-list"><a href="#" class="menu-link">Hot Deals</a></li>
      </ul>
    </div>
  </nav>
  <div class="promo">
    <div class="container promo-content">
      <div class="promo-text">
        <p class="promo-text_big">THE BRAND</p>
        <p class="promo-text_mini">OF LUXERIOUS FASHION</p>
      </div>
    </div>
  </div>
<div class="offer container">
    <div class="offer-content">
      <div class="offer-content_big offer-content_big__man">
        <div class="offer-text">
          <p>hOT dEAL</p>
          <p>FOR MEN</p>
        </div>
      </div>
    </div>    
    <div class="offer-content_mini"></div>
    
    <div class="offer-content">
      <div class="offer-content_mini"></div>
      <div class="offer-content_big"></div>
    </div>
  </div>
</body>
</html>