@mixin size($resolution, $pad: null, $mar: null, $w: null, $h: null,
$fz: null, $lh: null, $gap: null, $brd-rad: null, $top: null, $left: null) {
	$viewport-width: $resolution / 100;
	$ratio: $resolution / 100vw;
	@if $pad != null {
		$padding-top: null;
		$padding-right: null;
		$padding-bottom: null;
		$padding-left: null;

		@if length($pad) == 1 {
      $padding-top: $pad;
      $padding-right: $pad;
      $padding-bottom: $pad;
      $padding-left: $pad;
    }

		@if length($pad) == 2 {
      $padding-top: nth($pad, 1);
      $padding-right: nth($pad, 2);
      $padding-bottom: nth($pad, 1);
      $padding-left: nth($pad, 2);
    }

		@if length($pad) == 3 {
      $padding-top: nth($pad, 1);
      $padding-right: nth($pad, 2);
      $padding-bottom: nth($pad, 3);
      $padding-left: nth($pad, 2);
    }

		@if length($pad) == 4 {
      $padding-top: nth($pad, 1);
      $padding-right: nth($pad, 2);
      $padding-bottom: nth($pad, 3);
      $padding-left: nth($pad, 4);
    }

		padding: #{$padding-top / $viewport-width}vw #{$padding-right / $viewport-width}vw #{$padding-bottom / $viewport-width}vw #{$padding-left / $viewport-width}vw;
	}

	@if $mar != null {
    $margin-top: null;
    $margin-right: null;
    $margin-bottom: null;
    $margin-left: null;

    @if length($mar) == 1 {
      $margin-top: $mar;
      $margin-right: $mar;
      $margin-bottom: $mar;
      $margin-left: $mar;
    }
    
    @if length($mar) == 2 {
      $margin-top: nth($mar, 1);
      $margin-right: nth($mar, 2);
      $margin-bottom: nth($mar, 1);
      $margin-left: nth($mar, 2);
    }
    
    @if length($mar) == 3 {
      $margin-top: nth($mar, 1);
      $margin-right: nth($mar, 2);
      $margin-bottom: nth($mar, 3);
      $margin-left: nth($mar, 2);
    }
    
    @if length($mar) == 4 {
      $margin-top: nth($mar, 1);
      $margin-right: nth($mar, 2);
      $margin-bottom: nth($mar, 3);
      $margin-left: nth($mar, 4);
    }

    margin: #{$margin-top / $viewport-width}vw #{$margin-right / $viewport-width}vw #{$margin-bottom / $viewport-width}vw #{$margin-left / $viewport-width}vw;
  }

	// сначала row, потом col
	@if $gap != null {
		$row-gap: null;
		$col-gap: null;

		@if length($gap) == 1 {
			gap: #{$gap / $viewport-width}vw;
		}

		@if length($gap) == 2{
			gap: #{nth($gap, 1) / $viewport-width}vw #{nth($gap, 2) / $viewport-width}vw;
		}
	}

	@if $w != null {
		width: #{$w / $viewport-width}vw;
	}

	@if $h != null {
		height: #{$h / $viewport-width}vw;
	}

	@if $fz != null {
		font-size: #{$fz / $viewport-width}vw;
	}

	@if $lh != null {
		line-height: #{$lh / $viewport-width}vw;
	}

	@if $brd-rad != null {
		border-radius: #{$brd-rad / $viewport-width}vw;
	}

	@if $top != null {
		top: #{$top / $viewport-width}vw
	}

	@if $left != null {
		left: #{$left / $viewport-width}vw
	}
}

@mixin flex($align: center, $justify: center, $flex-dir: row, $flex-wrap: nowrap, $t-align: left){
	display: flex;
	align-items: $align;
	justify-content: $justify;
	flex-direction: $flex-dir;
  flex-wrap: wrap;
	text-align: $t-align;
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

@mixin rotate ($deg) { 
	@include transform(rotate(#{$deg}deg));
}

@mixin media($res) {
	@if ($res == 768) {
		$res: $res + 212;
	}
	@else if ($res == 320) {
		$res: $res + 256;
	}
	@media screen and (max-width: #{$res}px) {
		@content;
	}
}