@import './mixins.scss';
@import './fonts.css';

$desktop: 1600;
$pink: #f16d7f;

@mixin border($color: black) {
  border: 1px solid black;
}

.html {
  scroll-behavior: smooth;
}

.body {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 300;
  color: #222;
}

.wrapper {
  @include flex();
  margin: 0 auto;

  &_header {
    justify-content: space-between;
  }

  &_promo {
    background-color: #e8e8e8;
  }
}

.header {
  @include flex(center, space-between);
  @include size($desktop, $pad: (24.5, 229));
  width: 100%;
  border-bottom: 1px solid rgba($color: black, $alpha: 0.17);
  background-color: #ffffff;

  // Логотип слева
  &__logo {
    @include flex();
    @include size($desktop, $gap: (0, 37));
  }

  // Логотип справа
  &__personal,
  &-personal {
    @include flex(end);
    @include size($desktop, $gap: (0, 26));

    &__btn {
      @include size($desktop, $w: 32, $h: 32);
      cursor: pointer;
      border: none;
      background-color: transparent;
      background: url(../images/basket-button.svg) no-repeat;
      background-size: contain;
      background-position-x: center;
      background-position-y: 80%;
    }
  }
}

// Собственно логотип
.logo {
  @include flex();
  @include size($desktop, $fz: 27, $lh: 32, $gap: (0, 13));
  color: #222;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &__image {
    @include size($desktop, $w: 59, $h: 51);
  }

  &__d {
    font-weight: 900;
    color: $pink;
  }
}

.form {
  @include flex();

  &__btn {
    @include size($desktop, $w: 36, $h: 38);
    border: #e6e6e6 1px solid;
    border-width: 1px 1px 1px 0;
    background: url(../images/loup.png) no-repeat transparent center;

    &,
    &:hover,
    &:active {
      cursor: pointer;
    }
  }
}

.input {
  @include flex();
  @include size($desktop, $w: 280, $h: 36, $pad: (0, 14), $fz: 14, $lh: 32);
  border: 1px solid #e6e6e6;

  &::placeholder {
    color: #a4a4a4;
    @include size($desktop, $lh: 32, $fz: 14);
  }

  &:focus {
    outline: none;
  }
}

.select {
  @include size($desktop, $lh: 32, $h: 38);
  @include appearance();
  border: #e6e6e6 1px solid;
  vertical-align: center;
  text-align: center;
  cursor: pointer;

  &:focus {
    outline: none;
  }
  
  &_search {
    @include size($desktop, $fz: 14, $w: 80, $pad: (0, 7, 0, 0));
    background: url(../images/arrow-down.webp) no-repeat;
    background-position-x: 92%;
    background-position-y: center;
    border-width: 1px 0 1px 1px;
    background-color: #f5f5f5;
  }

  &_account {
    @include size($desktop, $fz: 15, $w: 120, $pad: (0, 10, 0, 0));
    background: url(../images/arrow-down-white.webp) no-repeat;
    background-position-x: 92%;
    background-position-y: center;
    color: white;
    background-color: $pink;
    border: none;
  }
}

.menu {
  @include flex();
  list-style-type: none;

  &__link {
    @include size($desktop, $fz: 14, $lh: 26, $pad: (19, 20, 22));
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #222;
    transition: color 0.3s linear;

    &:hover {
      color: $pink;
    }
  }
}

.promo {
  @include size($desktop, $h: 613, $mar: (0, 0, 0, 230), $gap: (0, 12));
  @include flex(center, flex-start);
  width: 100%;
  background: url(../images/promo-man.jpg) no-repeat;
  background-size: cover;
  user-select: none;

  &__rectangle {
    background-color: $pink;
    @include size($desktop, $w: 12, $h: 92);
  }

  &-text {
    text-transform: uppercase;
    font-weight: 900;

    &__title {
      margin: 0;
      @include size($desktop, $fz: 60);
      letter-spacing: 1px;
    }

    &__subtitle {
      margin: 0;
      @include size($desktop, $fz: 40);
      letter-spacing: 1px;

      &_pink {
        color: $pink;
      }
    }
  }
}

.offer{
  @include flex();
  @include size($desktop, $pad: (100, 0), $gap: (0, 20));

  &__content,
  &-content {
    @include flex(center, center, column);
    @include size($desktop, $gap: (20, 0));
    cursor: pointer;

    &__big {
      @include size($desktop, $w: 560, $h: 542);

      &_man {
        background: url(../images/offer-man.jpg) no-repeat center;
        background-size: cover;
      }

      &_kid {
        background: url(../images/offer-kid.jpg) no-repeat center;
        background-size: cover;
      }
    }

    &__small {
      @include size($desktop, $w: 560, $h: 261);

      &_woman {
        background: url(../images/offer-woman.png) no-repeat center;
        background-size: cover;
      }

      &_accessory {
        background: url(../images/offer-accessory.png) no-repeat;
        background-position-x: right;
        background-position-y: 0%;
        background-color: #dadad2;
      }
    }

    &__title {
      @include size($desktop, $fz: 18);
    }

    &__subtitle {
      @include size($desktop, $fz: 30);
      color: $pink;
    }

    &__textbox {
      @include flex(flex-start, center, column);
      width: fit-content;
      font-weight: 900;
      background-color: white;
      @include size($desktop, $pad: (16, 19.5), $mar: (26, 0, 0));
      text-transform: uppercase;
      user-select: none;
    }
  }
}

.feature {
  @include flex(center, center, column);

  &__title {
    font-weight: 700;
    margin: 0;
    text-transform: capitalize;
    @include size($desktop, $fz: 30, $mar: (0, 0, 16));
  }

  &__subtitle {
    margin: 0;
    font-weight: 400;
    color: #9f9f9f;
    @include size($desktop, $fz: 14);
  }

  &-grid {
    @include size($desktop, $pad: (60, 0), $gap: (39, 32));
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &-card {
    position: relative;
    @include flex(flex-start, center, column);
    cursor: pointer;
    transition: 0.3s;

    &:hover,
    &:active {
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);

      & .filter,
      & .btn_add {
        display: block;
      }
    }

    &__img {
      @include size($desktop, $h: 280);
      width: 100%;
    }

    &__subtitle {
      @include size($desktop, $mar: (20, 0, 17, 13.5), $fz: 13);
      text-transform: uppercase;
      font-weight: 400;
    }

    &__price {
      @include size($desktop, $mar: (0, 0, 21, 13.5), $fz: 16);
      font-weight: 700;
      color: $pink;
    }

    & .filter,
    & .btn_add {
      display: none;
    }
  }
}

.sale {
  @include size($desktop, $pad: (113, 230, 97));
  @include flex();

  &__banner {
    position: relative;
    @include size($desktop, $pad: (146, 435, 305, 39));
    background: url(../images/sale-img.jpg) no-repeat;
    background-size: contain;
    color: white;
  }

  &__title {
    font-weight: 700;
    margin: 0;
    @include size($desktop, $fz: 54);

    &_pink {
      color: $pink;
    }
  }

  &__subtitle {
    margin: 0;
    @include size($desktop, $fz: 32);
  }
}

.btn {
  @include size($desktop, $pad: (18, 19, 19, 24), $fz: 16, $gap: (0, 9));
  @include flex();
  cursor: pointer;

  &_add {
    display: block;
    position: absolute;
    font-weight: 700;
    border: 1px solid white;
    color: white;
    @include size($desktop, $bottom: 227, $left: 65, $pad: (15, 13, 14, 43));
    background: url(../images/basket-button-white.svg) no-repeat;
    background-position-x: 0.75vw;
    background-position-y: 0.625vw;
    z-index: 10;
    transition: 0.35s;

    &:hover,
    &:active {
      @include size($desktop, $brd-rad: 20);
      border-color: transparent;
      background-color: #222;
      background-position-x: 0.75vw;
      background-position-y: 0.625vw;
      filter: invert(1);
    }
  }

  &_pink {
    border: none;
    color: white;
    background-color: $pink;
    transition: 0.3s;

    &:hover,
    &:active {
      background-color: white;
      outline: 1px $pink solid;
      color: $pink;

      & .btn__arrow {
        filter: invert(63%) sepia(70%) saturate(2883%) hue-rotate(311deg) brightness(100%) contrast(89%);
      }
    }
  }
}

.filter {
  display: block;
  position: absolute;
  @include size($desktop, $bottom: 92);
  top: 0;
  left: 0;
  right: 0;
  background-color: #3a3838;
  opacity: 0.5;

  &_sale {
    user-select: none;
    background-color: transparent;
    @include size($desktop, $w: 760, $h: 525);
    bottom: unset;
    right: unset;
  }
}